body {
	font-family: arial;
}

h1 {
	text-decoration: underline;
	font-size: 20px;
	text-align: center;
}

input {
	font-size: 16px;
}

span {
	font-size: 16px;
}

p {
	line-height: 25px;
}

select {
	border: 1px #420420 solid;
	border-radius: 0;
	padding:10px;
}

.clear_float {
	clear: both;
}

.middle_postition {
	width:500px;
	height:10px;
	margin:0 auto;
}

.center_text {
	text-align: center;
	padding:20px;
}

#searchBar {
	height:auto;
	width:90%;
	margin: 0 auto;
}

#search {
	width:70%;
	padding: 20px;
	margin:0 auto;
	float:left;
	display:block;
	border:#3b3b3b 2px solid;
	padding:20px;
}

#searchList {
	width:100%;
	margin:0 auto;
	margin-top:20px;
	min-height: 300px;
	height:auto;
	border:#ffd00b 1px solid;
}

.coverImage {
	width:300px;
}

.runTime {
	font-size: 12px
}

#campus_selection {
	float:left;
	margin-left: 20px;
	margin-top:5px;
	width:110px;
	padding-bottom:8px;
}

.search_product {
	width:340px;
	float:left;
	padding:10px;
}

.text_width {
	width:300px;
}

.max_length {
	width:300px;
	height:30px;
	white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.film_title_search {
	color:#ffd00b;
}

.film_title_search:hover {
	text-decoration: underline;
}

.film_cover_image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height:200px;
	width:100%;
	margin:0 auto;
}

.logoTestdiv {
	width:200px;
	height:90px;
	background-repeat: no-repeat;
	background-image: url(../img/logotest.png)
}

.logotest {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	padding-top:25px;
	text-align: center;
}

.locofont {
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	color:#ffffff;
}

/* DISPLY FILM PAGE */
#aca_form_button {
	background-color: #ffd00b;
	width:312px;
	padding:20px;
	margin:0 auto;
	color:#454545;
	margin-top:40px;
}

#aca_form_button:hover {
	background-color: #ffe98d;
}

#aca_form {
	width:700px;
	min-height: 400px;
	margin:0 auto;
	padding:20px;
	border: 1px solid #ffd00b;
	margin-top:20px;
}

.aca_form_input {
	width:100%;
	background-color: #ffffff;
	border:1px #ffd00b solid;

}
@media screen and (max-width: 700px) {
	#search {width:50%;}
	.middle_postition {width:80%;}
}