body {
	font-family: arial;
}

input {
	font-size: 16px;
}

span {
	font-size: 16px;
}

p {
	line-height: 25px;
}

select {
	border:none;
	border-radius: 0;
}

.clear_float {
	clear: both;
}

.middle_postition {
	width:520px;
	height:10px;
	margin:0 auto;
}

.center_text {
	text-align: center;
	padding:20px;
}

#searchBar {
	height:37px;
	width:90%;
	margin: 0 auto;
	font-size: 16px;
}

#search {
	width:70%;
	font-size: 16px;
	margin:0 auto;
	float:left;
	display:block;
	border:#3b3b3b 2px solid;
}

#searchList {
	width:100%;
	margin:0 auto;
	margin-top:20px;
	min-height: 300px;
	height:auto;
}

.coverImage {
	width:300px;
}

.runTime {
	font-size: 12px
}

#campus_selection {
	float:left;
	margin-top:2px;
	margin-left: 20px;
	width:132px;
	padding-left:10px;
	height:33px;
}

.search_product {
	width:29.3%;
	float:left;
	padding:10px;
	background-color:rgba(0, 0, 0, 0.3);
	margin:10px;
}

.text_width {
	width:300px;
}

.max_length {
	width:300px;
	height:30px;
	white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.film_title_search {
	color:#ffd00b;
}

.film_title_search:hover {
	text-decoration: underline;
}

.film_cover_image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height:200px;
	width:100%;
	margin:0 auto;
}

.empty_search {
	padding: 150px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
}

/* DISPLY FILM PAGE */
#aca_form_button {
	background-color: #ffd00b;
	width:312px;
	padding:20px;
	margin:0 auto;
	color:#454545;
	margin-top:40px;
}

#aca_form_button:hover {
	background-color: #ffe98d;
}

#aca_form {
	width:700px;
	min-height: 400px;
	margin:0 auto;
	padding:20px;
	border: 1px solid #ffd00b;
	margin-top:20px;
}

.aca_form_input {
	width:100%;
	margin-right: 20px;
	margin-bottom:20px;
	background-color: #ffffff;
	border:1px #ffd00b solid;

}

#submit{
	background-color: #ffd00b;
	padding:10px;
	margin:0 auto;
	color:#454545;
	margin-top:20px;
	border:none;
}

#submit:hover{
	background-color: #ffe98d;
}

.height_modorator {
	height
}

/* DISPLY FILM PAGE */
#aca_form_button {
	background-color: #ffd00b;
	width:200px;
	padding:20px;
	margin:0 auto;
	color:#454545;
	margin-top:40px;
}

#aca_form_button:hover {
	background-color: #ffe98d;
}

#aca_form {
	max-width:700px;
	width:100%;
	box-sizing:border-box;
	min-height: 400px;
	margin:0 auto;
	padding:20px;
	border: 1px solid #ffd00b;
	margin-top:20px;
}

.aca_form_input {
	width:100%;
	margin-bottom: 20px;
	background-color: #ffffff;
	border:1px #ffd00b solid;

}

#submit{
	background-color: #ffd00b;
	padding:10px;
	margin:0 auto;
	color:#454545;
	margin-top:20px;
	border:none;
}

#submit:hover{
	background-color: #ffe98d;
}

.height_modorator {
	text-decoration: underline;
	font-size: 20px;
	text-align: center;
	height:30px;
	margin-top: 0px;
}

.rating_once {
	width: 142px;
    float: right;
    padding-top:10px;
    padding-right:5px;
}

/* INDEX */
.film_title_large {
	color:#454545;
}

.film_title {
	color:#454545;
}

/* CONFIRM LOHING PAGE */
.confirm_container {
	width:370px;
	font-size: 16px;
	margin:0 auto;
	padding-top:200px;
}

#link  {
	color:#ffd00b;
}

#link:hover {
	text-decoration: underline;
}

/* PROFILE PAGE */
#student_films {
	padding:20px;
}

.search_product_teacher {
	width:41%;
	padding:0 0 10px 10px;
}

/* FOOTER */

.text_align_fix {
	text-align: right;
}

.footer {
	margin-top:20px!important;
}


@media only screen and (max-width: 1199px){
	.search_product{width:43%;}
}

@media screen and (max-width: 700px) {
	#search {width:50%;}
	.middle_postition {width:80%;}
	.search_product{width:43%;}
}

@media screen and (max-width: 666px) {
	.middle_postition {width:88%;}
	.search_product{width:90%; float:none; margin:0 auto; margin-top:10px;}
}

@media screen and (max-width: 480px) {
	.confirm_container{padding-top:70px;}
}

@media screen and (max-width: 340px) {
	#searchBar {width:95%;}
	.middle_postition {width:100%;}
	.search_product{width:90%; float:none; margin:0 auto; margin-top:10px;}
	.confirm_container{width:95%; padding-top:50px;}
}