#displayvideo {
	width:800px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#details {
	float:left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.film_title {
	background-color: #ffd00b;
	box-sizing: border-box;
	padding: 5px;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
} 
#details2 {
	float:left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.student_name {
	font-size: 1.5em;
	color: #FFF;
	position: relative;
	display: inline-block;
	float: left;

}

.campus {
	font-size: 1em;
	color: #D1D3D4;
	position: relative;
	display: inline-block;
	float: right;
	padding-top: 6px;
}

#rating{
	float: right;
	width: 30%;
	padding-top: 6px;
}
.star {
	background-image: url("../images/star_empty.png");
	height: 41px;
    width: 43px;
    background-repeat: no-repeat;
    display: inline-block;
}

.star_full {
	background-image: url("../images/star_full.png");
}

#synopsis {
	color: #FFF;
	width: 100%;
	margin-bottom: 30px;
	
}
#synopsis .p {
	margin-top: 30px;
}
#contributors div{
	color: #D1D3D4;
	width: 100%;
}
.contributors_title {
	padding-bottom: 20px;
}
