.error_box {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.security_box {
    margin: 0 auto;
    width: 450px;
    display:flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.login_error {
    color: red;
    text-align: center;
    margin-top: 100px;
}
#campus_id {
    margin: 10px;
}

.campus_id select {

   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.footer_col_one, .footer_col_two, .footer_col_three, .footer_col_four {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 400;
  font-size: 0.7em;
  color: grey;
}


.footer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;

}

#loginForm input[type=text] {
    width: 100%;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #ffd00b;
    color: #2f2f2f;
    font-size: 1em;
    -webkit-border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

.text_box {

    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #ffd00b;
    color: #2f2f2f;
    font-size: 0.8em;
    -webkit-border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 5px;
}

.login_button,  input[type=submit] {
  color: white;
  height: 35px;
  background-color: #ffd00b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-size: 1em;
  text-shadow: 1px 1px #c0c0c0;
}

input[type="submit"]:hover{
  color:#000;
  background-color: white;
  text-shadow: none;
}

#register input[type="submit"] {
  background-color: #36a500;
  text-shadow: none;
}

.login_button {
  float: right;
}

.search_bar {
  width: 200px;
}


.header_navigation {
  width: 100%;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navigation input[type="text"], input[type="password"] {
  width: 150px;
  margin: 5px 0px 0px 0px;
}

input[type="text"], input[type="password"] {
  height: 35px;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #ffd00b;
  color: #2f2f2f;
  font-size: 0.8em;
  -webkit-border-radius: 1px;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 10px;
}

.site_content .security_box input[type="text"] {
  width: 100%;
  margin-top: 10px;
}

.site_content .security_box input[type="password"] {
  width: 100%;
  margin-top: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login_header {
  width: auto;
}

select {
  margin-top: 10px;
  color: white;
  background: #ffd00b;
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 1px;
  height: 35px;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px #c0c0c0;

}

.security_box form {
  width: 100%;
}

.security_box input[type="submit"] {
  margin: 10px 0px 10px 0px;
}

.site_content .reset_email input[type="text"] {
  width: calc(100% - 80px);
}
