.error_box {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.security_box, .project_profile {
    margin: 0 auto;
    max-width: 450px;
    width:100%;
    display:flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing:border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.project_profile {
  margin: 0 auto;
  width: 450px;
  padding: 20px;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}



.login_error {
    color: red;
    text-align: center;
    margin-top: 100px;
}
#campus_id {
    margin: 10px;
}

.campus_id select {

   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.footer_col_one, .footer_col_two, .footer_col_three, .footer_col_four {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 0.7em;
  color: grey;
}


.footer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;

}

#loginForm input[type=text] {
    width: 100%;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #ffd00b;
    color: #2f2f2f;
    font-size: 1em;
    -webkit-border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
  
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

.text_box {

    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #ffd00b;
    color: #2f2f2f;
    font-size: 0.8em;
    -webkit-border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 5px;
}

  input[type=submit] {
  padding: 10px 20px;
  color: #454545;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  background-size: 100%;
  background-color: #ffd00b;
}

#search_button {
  padding: 10px 20px;
  color: #454545;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  width: 40px;
  background: url('../img/search.svg') no-repeat -10px -22px;
  background-size: 150%;
  background-color: #ffd00b;
}

#search_button:hover, input[type="submit"]:hover{
  color:black;
  background-color: #ffe98d;
  text-shadow: none;
}

#register input[type="submit"] {
  background-color: #36a500;
  text-shadow: none;
}

.login_button {
  float: right;
}

.search_holder {
  width: 30%;
}


.header_navigation {
  width: 100%;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
   background-color: rgba(0, 0, 0, 0.3);
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

input[type="text"], input[type="password"] {
  height: 37px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d8d8d8;
  color: #2f2f2f;
  font-size: 0.8em;
  -webkit-border-radius: 1px;
  box-sizing: border-box;
  padding-left: 10px;
  float: left;
  width: calc(100% - 40px);
}

textarea:focus, input:focus{
    outline: none;
}

.site_content .security_box input[type="text"] {
  width: 100%;
  margin-top: 10px;
}

.site_content .security_box input[type="password"] {
  width: 100%;
  margin-top: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login_header {
  width: auto;
}

select {
  margin-top: 10px;
  color: #454545;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 1px;
  height: 35px;
  font-family: 'Montserrat', sans-serif;

}

.security_box form {
  width: 100%;
}

.security_box input[type="submit"] {
  margin: 10px 0px 10px 0px;
}

.site_content .reset_email input[type="text"] {
  width: calc(100% - 100px)
}

.contribute  input[type="submit"]{
  background-color: #1899df;
}

.contribute input[type="submit"]:hover{
  color:#ffe98d;
  background-color: white;
  text-shadow: none;
}

.logout  input[type="submit"]{
  background-color: #eb5555;
}

.logout input[type="submit"]:hover{
  color:#ffe98d;
  background-color: white;
  text-shadow: none;
}

.profile  input[type="submit"]{
  background-color: #f59a49;
}

.profile input[type="submit"]:hover{
  color:#ffe98d;
  background-color: white;
  text-shadow: none;
}

span {
  color: black;
}

.profile_edit_box {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    box-sizing:border-box;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cover_image_edit {
  width: 100%;
  padding-bottom: 56.25%;
  background-size: cover;
  margin-bottom: 10px;


}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #666;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center; 
}

#lean_overlay {
        position: fixed;
        z-index: 100;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: #000;
        display: none;
}

.popupContainer {
        position: absolute;
        width: 330px;
        height: auto;
        left: 45%;
        top: 60px;
        background: #FFF;
}

.popupContainer_main {
        width: 330px;
        height: auto;
        left: 45%;
        top: 60px;
        background: #FFF;
}

#modal_trigger {
     /*   margin: 40px auto;  */
        display: block;
        border-radius: 1px;
        background-color: #ffd00b;
}


.btn:hover {
  background-color: #ffe98d
}

.btn {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Montserrat', sans-serif;
  color: #454545;
}

a.btn {
        text-align: center;
        text-decoration: none;
}

a.btn_red {
        color: #FFF;
}

.one_half {
        width: 50%;
        display: block;
        float: left;
}

.one_half.last {
        width: 45%;
        margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
        font-size: 16px;
        text-transform: uppercase;
}

.popupHeader {
        background: #F4F4F2;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        font-weight: bold;
}

.popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #E4E4E2;
        cursor: pointer;
        color: #aaa;
        font-size: 16px;
}

.popupBody {
        padding: 20px;
        background-color: #f9f9f9;
}

.centeredText {
        text-align: center;
        margin: 20px 0;
        clear: both;
        overflow: hidden;
        text-transform: uppercase;
}

.action_btns {
        clear: both;
        overflow: hidden;
}

.action_btns a {
        display: block;
        background-color: #ffd00b;
}
/* User Login Form */

.user_login {
        display: none;
}

.user_login label {
        display: block;
        margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
        margin-bottom: 10px;
}

.user_login input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_login input[type="checkbox"]+label {
        float: left;
}

.user_login .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

.forgot_password {
        display: block;
        margin: 20px 0 10px;
        clear: both;
        overflow: hidden;
        text-decoration: none;
        color: #ED6347;
}

/* User Login MAIN Form */

.user_login_main label {
        display: block;
        margin-bottom: 5px;
}

.user_login_main input[type="text"],
.user_login_main input[type="email"],
.user_login_main input[type="password"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
        margin-bottom: 10px;
}

.user_login_main input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_login_main input[type="checkbox"]+label {
        float: left;
}

.user_login_main .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

.forgot_password {
        display: block;
        margin: 20px 0 10px;
        clear: both;
        overflow: inherit;
        text-decoration: none;
        color: #ED6347;
}
/* User Register Form */

.user_register {
        display: none;
}

.user_register label {
        display: block;
        margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
        margin-bottom: 10px;
}

.user_register input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_register input[type="checkbox"]+label {
        float: left;
}

.user_register .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

.user_login label {
  color: black;
}

.user_register label {
  color: black;
}

.user_register.styled_select {
  margin-bottom: 10px;
  color: black;
}

.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
  width: 100%;
}

.login_button, .popup_button input[type=submit] {
  margin: 5px;
  padding: 5px;
  text-align: center;
vertical-align: middle;
}

input[type="submit"] .grey {

}

input[type="submit"] .grey {

}

.float {
  display: flex;
  justify-content: space-between;
}

/* user register display on main page */

/* User Register Form */

.user_register_main label {
        display: block;
        margin-bottom: 5px;
}

.user_register_main input[type="text"],
.user_register_main input[type="email"],
.user_register_main input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
}

.user_register_main input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_register_main input[type="checkbox"]+label {
        float: left;
}

.user_register_main .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

.user_login label {
  color: black;
}

.user_register label {
  color: black;
}

.user_register_main.styled_select {
  margin-bottom: 10px;
  color: black;
}

.user_register_main input[type="text"], .user_register_main input[type="email"], .user_register_main input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.popper {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #414042 
                url('../img/loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .popper {
    display: block;
}

.logo {
  width: 230px;
  height: 70px;
  margin-left: 20px;
}

.logo_loading {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 180px;
  width: 110px;
  height: 140px;
}

.has-validation-callback .long_button {
  width: 100%;
}




/* 
============================================
============  MEDIA QUERIES  ===============
============================================
*/

@media only screen and (min-width: 720px) and (max-width: 1199px) {


.logo {
  height: 70px;
}

.has-validation-callback .long_button {
  width: 100%;
}

}

}

.flexbox_center {
  display: flex;
  justify-content: center;
}

.container_register {
  max-width: 330px;
  margin: 0 auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #ffd00b;
    color: #454545;
    padding: 5px 10px 5px 10px;
    height: 37px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ffd00b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000;
    color: black;
    margin-right: 20px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       right:0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffe98d}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.site_content {
  margin-top: 40px;
}

.container {
  margin-right: 20px;
}

.edit_film_button {
  width: 37px;
  height: 37px;
  background-color: #ffd00b;
  padding: 5px 10px 5px 10px;
  height: 37px;
  border: none;
  cursor: pointer;
  background: url('../img/pencil.png') center no-repeat;
  background-size: 30px;
  float:right;
}

.edit_title {
  width: 70%;
  float: left;
  font-size: 1.2em;
  padding-top:15px;
  box-sizing: border-box;
  float:left;
}

.profile_left, .profile_right {
  float: left;
  width:50%;
  box-sizing:border-box;
  max-width:50%;
  padding:0px 40px 0px 40px;

}

input[type="submit"] {
  cursor:pointer;
}

.hidden_logo {
  width: 100%;
}
