@media screen and (max-width: 700px) {
	.profile_left, .profile_right, .profile_edit_box {
	padding: 0px;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    float: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

	}

    .logo_style {
        width: 100%;
    }

    .logo {
    width: 230px;
    height: 70px;
    margin-left:0px;
    }

    .header_navigation {
        height: auto;
    }

    .search_holder {
        width: auto;
        margin-right: -30px;
    }

    .dropdown {
        margin-right: 0px;
    }

    .container {
  margin-right: 0px;
}


}

@media screen and (max-width: 580px) {
    .search {
        display:none;
    }
}

@media screen and (max-width: 374px) {
    .logo {
    width: 161px;
    height: 49px;
    margin-left:0px;
    }
}

@media screen and (max-width: 480px) {

    .dropbtn {
    background-image: url('../img/user.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    color: rgba(0,0,0,0);
    }

    .hide {
        display:none;
    }
}

@media screen and (max-width: 1024px) {
	 body {
   
    }
	
}

@media screen and (max-width: 1199px) {

} */