html {
	background-color: #414042;
}

.site_container {
	max-width: 1200px;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

.logo img {
	width: 274px;
	height: 80px;
}

.site_content {
	width: 100%;
	min-height: 100%;
	height:100%;
	box-sizing: border-box;
}
/*
.banner {
	width: 100%;
	height: 560px;
	background-color: #ffd00b;
}

.blurb {
	width:50%;
	text-align: center;
	 margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 50px;

} */

.banner {
	width: 100%;
	height: 560px;

	/*background-image: url("http://stack.soldevi.net/img/sae.mp4"); */
	
  	display: flex;

  	align-items: center;
  	justify-content: center;
  	position: relative;
    overflow: hidden;

}
.bannervideo {
	position: relative;
	width: 100%;
	height: 560px;
	z-index:0;

}

.blurb {
    text-align: center;
    width: 50%;
    background-color: rgba(128, 130, 133, 0.5);
    padding: 30px;
    position: absolute;
    z-index: 1;
    height: 61%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

.blurb h3 {
    font-weight: 900;
    font-size: 1.5em;
}

.content_left {
	
	width:50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.content_right {
	margin-top: 30px;
	width:50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.content_bottom {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	float: left;
}
.film_thumbnail {
	background-size: cover;
	width: 100%;
	height: 200px;
}
.film_large .film_thumbnail {
	height: 400px;
}

.film_large {
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(87, 86, 88, .8);
	height: 50%;
	margin: 10px;
	float: left;
	margin-bottom: 50px;
}

.film_large img {
	width: 100%;
}

.film_title_large {
	background-color: #ffd00b;
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.6em;
	position: relative;
    top: 100%;

}

.film_small {
	width: calc(50% - 30px);
	box-sizing: border-box;
	/*background-color: rgba(87, 86, 88, .8); */
	height: 50%;
	margin: 10px;
	float: left;
	margin-bottom: 50px;
}

.film_small img {
	width: 100%;
}

.film_title_small {
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.2em;
	position: relative;
    top: 100%;
}

.film_medium {
	width: calc(33.33333% - 30px);
	box-sizing: border-box;
	/*background-color: rgba(87, 86, 88, .8); */
	height: 50%;
	margin: 10px;
	float: left;
}

.film_medium img {
	width: 100%;
}

.film_title_medium {
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.4em;
}

.push {
height: 4em;
}

/* 
============================================
============  MEDIA QUERIES  ===============
============================================
*/

@media only screen and (min-width: 720px) and (max-width: 1199px) {

	.site_container {
	    max-width: 720px;

		}
	.blurb {
		width:70%;
		font-size:.9em;
		padding: 20px;
	}

	.bannervideo {
	height: 460px;
	}

	.film_large .film_thumbnail {
    height: 206px;
	}

.film_thumbnail {
	height: 116px;
}
    
.film_title_large {
	font-size: 1.2em;
}

.film_title_small {
	font-size: 1em;

