.form-error {
    color: #ff3e3e;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 140%;
}

.edit_active_setting {
    padding: 20px;
}

.filmdisplay_box {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
    display:flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);

}

.filmdisplay_box .display_video #player1 {
    margin-top: 30px;
    border: 1px dashed #414042;
}

.filmdisplay_box form {
    width: 100%;

}

.filmdisplay_box input[type="submit"] {
    margin: 10px 0px 10px 0px;
    height: 38px;
}

.site_content .filmdisplay_box input[type="text"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.site_content .filmdisplay_box input#synopsis {
    color: #000;
}

.site_content .filmdisplay_box input[type="password"] {
    width: 100%;
}

.site_content .filmdisplay_box table, .site_content #displayvideo #contributors table {
    width: 100%;
}

.site_content .filmdisplay_box table input[type="text"]{
    float: right;
    width: 90%;
    margin-right: 10%;
    margin-bottom: 5px;
}

.site_content .filmdisplay_box table tbody td {
    height: 70px;
    vertical-align: top;
}

.site_content .filmdisplay_box table tbody td.has-error {
   width: 25%;
}

.site_content .filmdisplay_box table span {
    font-size: 14px;
    vertical-align: top;
    width: 90%;
}

.site_content .filmdisplay_box table input[type="button"]{
    width: 100px;
    padding: 10px 20px;
    color: #454545;
    height: 38px;
    background-color: #ffd00b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-size: 12px;
    float: right;
    cursor: pointer;
}


input[type="button"]:hover{
  color:black;
  background-color: #ffe98d;
  text-shadow: none;
}

.site_content .filmdisplay_box select#edit_published {
    width: 120px;
    -webkit-appearance: menulist;
    height: 38px;
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px 10px;
}

.site_content .filmdisplay_box .cover_image {
    width: 100%;
    height: auto; 
    text-align: center;
    box-sixing: border-box;
}

.site_content .filmdisplay_box .cover_image .display_cover_image {
    margin: 20px 0;
    text-align: center;
    height: 150px;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
}

.site_content .filmdisplay_box .cover_image .dropzone { 
    margin-right: 5px;
    width: 100%;
    margin-bottom: 50px;
}

.site_content .filmdisplay_box .cover_image .dropzone  .dz-message span {
    color: #79797c;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site_content .filmdisplay_box .cover_image .actual_display { 
    margin: 0 auto;
    height: auto;
    width: 60%;
}

.site_content .filmdisplay_box .display_cover_image img{
    width: 100%;
    padding-bottom: 30px;
}


.site_content .filmdisplay_box label {
    display: block;
    margin: 30px 0 10px;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #79797c;
}

.site_content #displayvideo #details #campus {
    float: none;
}

input[type=checkbox] {
    visibility: hidden;
}

.slideThree {
    width: 150px;
    height: 26px;
    background: #333;
    margin: 10px 0px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
    content: 'ACTIVE';
    font: 12px/26px Arial, sans-serif;
    color: #ffd00b;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
    content: 'REMOVE';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 75px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
    left: 72px;
}


















.site_content #displayvideo {
    width: 80%;
    max-width: 800px;
}

.site_content #displayvideo #contributors .contributors_title, .site_content #displayvideo .hide_film label#hide {
    display: block;
    margin: 30px 0 10px;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #79797c; 
    padding-bottom: 0;
}

.site_content #displayvideo #contributors table thead {
    width: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.site_content #displayvideo #contributors table td {
    width: 25%;
    padding-bottom: 10px;
}

.site_content #displayvideo #details #rating {
    width: 330px;
}

.site_content #displayvideo #details #rating p {
    display: inline-block;
    padding-top: 10px;
}

.site_content #displayvideo #details #rating:not(old){
  display        : inline-block;
  height         : 41px;
  overflow       : hidden;
  vertical-align : bottom;
}


.site_content #displayvideo #details #rating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.site_content #displayvideo #details #rating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url("../images/star_empty.png");
  background-size : contain;
}

.site_content #displayvideo #details #rating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 43px;
  height          : 41px;
  background      : url("../images/star_full.png");
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.site_content #displayvideo #details #rating:not(old) > label:hover:before,
.site_content #displayvideo #details #rating:not(old) > label:hover ~ label:before,
.site_content #displayvideo #details #rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
















@media screen and (max-width: 1200px) {
    .site_content .filmdisplay_box table td {
        width: 100%;
        display: block;
    }
    .site_content .filmdisplay_box table thead {
        display: none;
    }
    .site_content .filmdisplay_box table td input[type=text] {
        width: 100%;
        margin-right: 0;
    }

    .site_content .filmdisplay_box table tbody td.has-error {
        width: 100%;
    }

    .site_content .filmdisplay_box .cover_image .actual_display {
        width: 100%;
    }

    .site_content #displayvideo #details #rating {
        width: 45%;
        padding-left: 10px;
    }

    .site_content #displayvideo #details #rating:not(old) {
        height: 30px;
    }

    .site_content #displayvideo #details #rating:not(old) > label:before {
        width: 30px;
        height: 30px;
    }
}



@media screen and (max-width: 700px) {
    .site_content #displayvideo #details #rating p {
        
    }

    .site_content #displayvideo #details #rating {
        width: 100%;
        padding-left: 10px;
    }

    .site_content #displayvideo #details #details2 {
        width: 100%;
    }




}

