
.active {
    position: relative; width: 100px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.active-checkbox {
    display: none;
}
.active-label {
    width: 100px;
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.active-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.active-inner:before, .active-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.active-inner:before {
    content: "ACTIVE";
    padding-left: 10px;
    background-color: #FCE95D; color: #000000;
}
.active-inner:after {
    content: "HIDDEN";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.active-switch {
    display: block; width: 13px; margin: 8.5px;
    background: #FFFFFF;
    top: 0; bottom: 0;
    right: 40px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.active-checkbox:checked + .active-label .active-inner {
    margin-left: 0;
}
.active-checkbox:checked + .active-label .active-switch {
    right: 0px; 
}

.filmdisplay_box {
    margin: 0 auto;
    width: 960px;
    display:flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.filmdisplay_box form {
    width: 100%;

}

.filmdisplay_box input[type="submit"] {
    margin: 10px 0px 10px 0px;
    height: 38px;
}

.site_content .filmdisplay_box input[type="text"] {
    width: 100%;
    margin-top: 10px;
}

.site_content .filmdisplay_box input[type="password"] {
    width: 100%;
}

.filmdisplay_box table {
    width: 100%;
}

.filmdisplay_box table input[type="text"]{
    margin-top: 0px;
    float: right;
}

.filmdisplay_box table input[type="button"]{
    width: 100px;
    padding: 10px 20px;
    color: #454545;
    height: 38px;
    background-color: #ffd00b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-size: 12px;
    float: right;
}


input[type="button"]:hover{
  color:black;
  background-color: #ffe98d;
  text-shadow: none;
}

.filmdisplay_box select#edit_published {
    width: 120px;
    -webkit-appearance: menulist;
    height: 38px;
}

.filmdisplay_box .display_cover_image {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    height: auto;
}

.filmdisplay_box .display_cover_image img{
    max-width: 100%;
    margin: 0 auto;
}
